Python bytecode
__pycache__/
*.pyc

# VS Code settings
.vscode/
.idea/

# IDE / Environment settings
venv/
.env
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Security: Sensitive database credentials
config.py
!config.py.example


# Local Databases
*.db
*.sqlite3
